asgiref==3.3.1
certifi==2020.12.5
Django==3.1.4
django-allow-cidr==0.3.1
django-crontab==0.7.1
flake8==3.9.1
flake8-django==1.1.1
mccabe==0.6.1
netaddr==0.8.0
Pillow==8.0.1
pycodestyle==2.7.0
pyflakes==2.3.1
pytz==2020.4
selenium==3.141.0
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==5.2.0
