asgiref==3.3.1
attrs==20.3.0
backcall==0.2.0
certifi==2020.12.5
decorator==5.0.7
Django==3.1.4
django-allow-cidr==0.3.1
django-crontab==0.7.1
flake8==3.9.1
flake8-django==1.1.1
iniconfig==1.1.1
ipdb==0.13.7
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
mccabe==0.6.1
netaddr==0.8.0
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
pytest-django==4.2.0
pytz==2020.4
selenium==3.141.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
whitenoise==5.2.0
