{% extends 'epos/base.html' %}
{% block content %}


<div class="row no-gutters">
    <div class="col-md-6 no-gutters">
        <div class="leftside-analytics">
            <div class="data-list-chart">
                <div class="row chart-list-top">
                    <div class="col-md-8 col-sm-12 pie-chart-left no-gutters order-12 text-center">
                        <canvas id="pieChart" style="max-width: 600px;"></canvas>
                        <div class="pie-text-bellow">
                            <span class="top-ten-text">Top 10 </span><br>
                            <span>by Quantity Sold </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 top-10-item-right no-gutters order-12">
                        <table class="table borderless">
                            {% for i, q in item.items|dictsortreversed:1 %}
                            {% if forloop.counter < 11 %} <tr>
                                <td class="product-name">{{i}}</td>
                                <td class="quantity-sold">{{q}}</td>
                                </tr>
                                {% endif %}

                                {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
            <div class="data-sales">
                <div class="row barChart-holder">
                    <div class="col-md-8 col-sm-12  no-gutters">
                        <canvas id="barChart" style="max-width: 600px;"></canvas>
                    </div>
                    <div class="col-md-4 col-sm-12 no-gutters text-center">
                        <span class="revenue-text">Revenue</span><br>
                        <span>Last 14 Days</span>

                        <span class="today-revenue-text">Today</span>
                        <span class="today-revenue-amount ">£{{this_week_daily_revenue.6}}</span>

                        <span class="last-week-revenue-text">Last {{week_day}} </span>
                        <span class="last-week-revenue-amount">£{{last_week_daily_revenue.6}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 no-gutters">
        <div class="rightside-analytics">

            <br>
        </div>
    </div>
</div>


<div id="hidden" style="display: none">
    {{this_week_daily_revenue |json_script:'this_week_daily_revenue'}}
</div>
<div id="hidden2" style="display: none">
    {{last_week_daily_revenue |json_script:'this_week_daily_revenue'}}
</div>
<div id="hidden3" style="display: none">
    {{weeek_days_list |json_script:'this_week_daily_revenue'}}
</div>
{% endblock %}