{% extends 'epos/base.html' %}
{% block content %}
<style>
    .my-col,
    .row-total-buttons {
        border: 1px solid red;
        color: #133B66 !important;
    }


    .col-products {

        height: 91vh;
    }

    .row-table-product-price {

        height: 50vh;
    }
    .row-total-price{
        height: 20vh;
    }
    .row-total-buttons {

        height: 21vh;

    }

    .underline:after {
        content: "";
        height: 1px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);

        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .first-tb-row{
        border-top: none !important;
    }

    /* this syle shoul stay in this file! */
    #time, #date{
        width: 300px;
        display: inline;
        color: #133B66 !important;
    }
    .items-total td, th{
        border: none !important;
        margin: 0 !important;
        padding: 0 5px !important;
        
    }
    .items-total{
        position: absolute;
        bottom: 0;
    }
    .price-gen{
        text-align: end;
    }
    .col-time{
        text-align: end;
    }
    .items-order{
        background: #D3E0E8;
    }
</style>
<div class="epos-nav">
    
    <div class="row my-row">
        <div class="col-md-4 col-sm-12 my-col">
            <div class="row my-row text-center">
                <div class="col-md-4 my-col">

                </div>
                <div class="col-md-4 my-col"><strong style="color:#00A1E0 ;">50</strong></div>
                <div class="col-md-4 my-col "><a href="#"><i class="far fa-file" style="color:#00A1E0 ;"></i> </a></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 my-col"></div>
        <div class="col-md-4 col-sm-12 my-col col-time">                     
            <div id="time"></div>
            <div id="date"></div>
        </div>

    </div>
    <div class="row my-row">
        <div class="col-md-4 col-sm-12 my-col">
            <div class="row my-row text-center">
                <div class="col-md-4 my-col"> <i class="far fa-user-circle" style="color:#00A1E0 ;"></i>
                    {{user.get_full_short}}</div>
                <div class="col-md-4 my-col underline"> Take Away</div>
                <div class="col-md-4 my-col"> <a href="#"><i class="fas fa-ellipsis-h" style="color:#00A1E0 ;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 my-col">
            CATEGORY
        </div>
    </div>
</div>

<div class="row my-row">
    <div class="col-md-4 col-sm-12 my-col ">
        <div class="row my-row row-table-product-price">
            <table class="table items-order">
                <tbody>
                    <tr >
                        <th scope="row" class="first-tb-row">Cappuchino</th>
                        <td class="first-tb-row">1</td>
                        <td class="first-tb-row">£2.60</td>
                        <td class="first-tb-row">£2.60</td>
                    </tr>
                    <tr>
                        <th scope="row">Carrot Cake</th>
                        <td>2</td>
                        <td>£4</td>
                        <td>£8</td>
                    </tr>
                    <tr>
                        <th scope="row">Latte</th>
                        <td>1</td>
                        <td>£2.60</td>
                        <td>£2.60</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row my-row row-total-price">
            <div class="col-md-6 col-sm-12 my-col "></div>
            <div class="col-md-6 col-sm-12 my-col ">
                <table class="table items-total">
                <tbody>
                    <tr >
                        <td class="first-tb-row price-gen">Discounts:</td>
                        <th scope="row" class="first-tb-row">£0.00</th>
                    </tr>
                    <tr>
                        <td class="price-gen">Sub Total:</td>
                        <th scope="row">£13.20</th>
                    </tr>
                    <tr>
                        <td class="price-gen">Surcharge:</td>
                        <th scope="row">£0.00</th>
                    </tr>
                    <tr>
                        <td class="price-gen">Tax:</td>
                        <th scope="row">£2.67</th>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="row my-row row-total-buttons">

        </div>
    </div>
    <div class="col-md-8 col-sm-12 my-col col-products">
    </div>
</div>



{% endblock %}