{% extends 'epos/base.html' %}
{% block content %}

<div class="row no-gutters">

    <div class="col-md-5 no-gutters">
        <div class="leftside">
            <div class="leftside-header">
                <div class="row header-row-1 no-gutters">
                    <div class="col my-col empty"></div>
                    <div class="col my-col order-number">50</div>
                    <div class="col my-col order-number-button"><a href="#"><i class="far fa-file"></i> </a></div>
                </div>
                <div class="row header-row-2 no-gutters">
                    <div class="col my-col employee-name"><i class="far fa-user-circle"></i>{{user.get_full_short}}
                    </div>
                    <div class="col my-col order-type">Take Away</div>
                    <div class="col my-col order-type-button"><a href="#"><i class="fas fa-ellipsis-h"></i></a></div>
                </div>
            </div>
            <div class="leftside-order-list">
                <table class="table order-product-list-table">
                    <tbody>
                        <tr>
                            <td>Cappuchino</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Carrot Cake</td>
                            <td>2</td>
                            <td>£4.00</td>
                            <td>£8.00</td>
                        </tr>
                        <tr>
                            <td>Latte</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Cappuchino</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Carrot Cake</td>
                            <td>2</td>
                            <td>£4.00</td>
                            <td>£8.00</td>
                        </tr>
                        <tr>
                            <td>Latte</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Cappuchino</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Carrot Cake</td>
                            <td>2</td>
                            <td>£4.00</td>
                            <td>£8.00</td>
                        </tr>
                        <tr>
                            <td>Latte</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Cappuchino</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                        <tr>
                            <td>Carrot Cake</td>
                            <td>2</td>
                            <td>£4.00</td>
                            <td>£8.00</td>
                        </tr>
                        <tr>
                            <td>Latte</td>
                            <td>1</td>
                            <td>£2.60</td>
                            <td>£2.60</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="empty-space"></div>
            <div class="left-side-total-amount">
                <div class="row total-amount-row1 no-gutters">
                    <div class="col my-col "></div>
                    <div class="col my-col "></div>
                    <div class="col my-col">Discounts:</div>
                    <div class="col my-col amount">£0.00</div>
                </div>
                <div class="row total-amount-row2 no-gutters">
                    <div class="col my-col"></div>
                    <div class="col my-col"></div>
                    <div class="col my-col">Sub Total:</div>
                    <div class="col my-col amount">£13.20</div>
                </div>
                <div class="row total-amount-row3 no-gutters">
                    <div class="col my-col"></div>
                    <div class="col my-col"></div>
                    <div class="col my-col">Surcharge:</div>
                    <div class="col my-col amount">£0.00</div>
                </div>
                <div class="row total-amount-row4 no-gutters">
                    <div class="col my-col "></div>
                    <div class="col my-col "></div>
                    <div class="col my-col ">Tax:</div>
                    <div class="col my-col amount">£1.30</div>
                </div>
            </div>
            <div class="left-side-bottom-buttons">
                <div class="row left-side-bottom-buttons-row1 no-gutters text-center">
                    <div class="col-md  my-col"><button type="button" class=" row-1-but">Cancel</button></div>
                    <div class="col-md  my-col"><button type="button" class=" row-1-but">Hold</button></div>
                    <div class="col-md  my-col"><button type="button" class=" row-1-but">Send</button></div>
                    <div class="col-md  my-col price-total-label">Total:</div>
                    <div class="col-md  my-col price-total"><span>£14.50</span></div>
                </div>
                <div class="row left-side-bottom-buttons-row2 no-gutters text-center">
                    <div class="col-md my-col left-side-bottom-buttons-row2-butt-1">
                        <a href="#" class="nav-link">
                            <i class="fas fa-barcode"></i>
                            <span class="row-2-button-text">Quantity</span>
                        </a>
                    </div>
                    <div class="col-md my-col my-col left-side-bottom-buttons-row2-butt-2">
                        <a href="#" class="nav-link">
                            <i class="fas fa-plus"></i>
                            <span class="row-2-button-text">Add Extra Item</span>
                        </a>
                    </div>
                    <div class="col-md my-col my-col left-side-bottom-buttons-row2-butt-3">
                        <a href="#" class="nav-link">
                            <i class="fas fa-percentage"></i>
                            <span class="row-2-button-text">Dicsount Order</span>
                        </a>
                    </div>
                    <div class="col-md my-col my-col left-side-bottom-buttons-row2-butt-4">
                        <a href="#" class="nav-link">
                            <i class="fas fa-utensils"></i>
                            <span class="row-2-button-text">Dinning Options</span>
                        </a>
                    </div>
                    <div class="col-md my-col pay-button">
                        <button class=" row-2-but">£14.50 Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 no-gutters">
        <div class="rightside">
            <div class="rightside-header">
                <div class="row rightside-header-row-1 no-gutters">
                    <div class="col my-col date-and-time">
                        <div id="date"></div>
                        <div id="time"></div>
                    </div>
                </div>
                <div class="row rightside-header-row-2 no-gutters">
                    <div class="col my-col category">CATEGORY</div>
                </div>
            </div>
            <div class="category-buttons">
                <div class="row category-buttons-row no-gutters">
                    <button type="button" class="cat-butt">Hot Drinks</button>
                    <button type="button" class="cat-butt">Cold Drinks</button>
                    <button type="button" class="cat-butt">Cakes</button>
                    <button type="button" class="cat-butt">Pastries</button>
                    <button type="button" class="cat-butt">Sandwitches</button>
                    <button type="button" class="cat-butt">Kitchen</button>
                </div>
            </div>
            <div class="empty-space2"></div>
            <div class="product-header">PRODUCTS</div>
            <div class="products-buttons">
                <div class="row products-buttons-row no-gutters">
                    <button type="button" class="product-butt">Latte <span>£2.60</span> </button>
                    <button type="button" class="product-butt">Cappuccino <span>£2.60</span></button>
                    <button type="button" class="product-butt">Espresso <span>£1.60</span></button>
                    <button type="button" class="product-butt">Macchiato <span>£1.60</span></button>
                    <button type="button" class="product-butt">Flat White <span>£2.60</span></button>
                    <button type="button" class="product-butt">Double Espresso <span>£1.90</span></button>
                    <button type="button" class="product-butt">Black Americano <span>£1.90</span></button>
                    <button type="button" class="product-butt">White Americano <span>£2.10</span></button>
                    <button type="button" class="product-butt">Hot Chocolate <span>£2.60</span></button>
                    <button type="button" class="product-butt">English Tea<span>£1.10</span></button>
                    <button type="button" class="product-butt">Green Tea<span>£1.10</span></button>
                    <button type="button" class="product-butt">Chamomile Tea<span>£1.10</span></button>
                    <button type="button" class="product-butt">Matcha Latte<span>£3.10</span></button>
                    <button type="button" class="product-butt">Chai Latte<span>£3.10</span></button>
                    <button type="button" class="product-butt">Hot Milk<span>£1.10</span></button>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}