{% extends 'epos/base.html' %}
{% block content %}

<div class="row no-gutters">

    <div class="col-md-5 no-gutters">
        <div class="leftside">
            <div class="leftside-header">
                <div class="row header-row-1 no-gutters">
                    <div class="col my-col empty"></div>
                    <div class="col my-col order-number">0</div>
                    <div class="col my-col order-number-button" title="Enter Order Number"><a  href="#"><i class="far fa-file"  data-toggle="modal" data-target="#order-number-modal"></i> </a></div>
                </div>
                <div class="row header-row-2 no-gutters">
                    <div class="col my-col employee-name"><i class="far fa-user-circle"></i>{{user.get_full_short}}
                    </div>
                    <div class="col my-col order-type">Take Out</div>
                    <div class="col my-col order-type-button"><a href="#"><i class="fas fa-ellipsis-h" data-toggle="modal" data-target="#order-type-modal"></i></a></div>
                </div>
            </div>
            <div class="leftside-order-list">
                <table class="table order-product-list-table">
                    <tbody class="order-product-list-table-body">

                    </tbody>
                </table>
            </div>
            <div class="empty-space"></div>
            <div class="left-side-total-amount">
                <div class="row total-amount-row1 no-gutters">
                    <div class="col my-col "></div>
                    <div class="col my-col "></div>
                    <div class="col my-col">Discounts:</div>
                    <div class="col my-col amount">£0.00</div>
                </div>
                <div class="row total-amount-row2 no-gutters">
                    <div class="col my-col"></div>
                    <div class="col my-col"></div>
                    <div class="col my-col">Sub Total:</div>
                    <div class="col my-col amount">£<span>0.00</span></div>
                </div>
                <div class="row total-amount-row3 no-gutters">
                    <div class="col my-col"></div>
                    <div class="col my-col"></div>
                    <div class="col my-col">Surcharge:</div>
                    <div class="col my-col amount">£0.00</div>
                </div>
                <div class="row total-amount-row4 no-gutters">
                    <div class="col my-col "></div>
                    <div class="col my-col "></div>
                    <div class="col my-col ">Tax:</div>
                    <div class="col my-col amount">£<span>0.00</span></div>
                </div>
            </div>
            <div class="left-side-bottom-buttons">
                <div class="row left-side-bottom-buttons-row1 no-gutters text-center">
                    <div class="col-md  my-col"><button type="button" onClick="window.location.reload();" class=" row-1-but">Cancel</button></div>
                    <div class="col-md  my-col"><button type="button" class=" row-1-but">Hold</button></div>
                    <div class="col-md  my-col"><button type="button" class=" row-1-but">Send</button></div>
                    <div class="col-md  my-col price-total-label">Total:</div>
                    <div class="col-md  my-col price-total">£<span>0.00</span></div>
                </div>
                <div class="row left-side-bottom-buttons-row2 no-gutters text-center">
                    <div class="col-md my-col left-side-bottom-buttons-row2-butt-1">
                        <a href="#" class="nav-link">
                            <i class="fas fa-barcode"></i>
                            <span class="row-2-button-text">Quantity</span>
                        </a>
                    </div>
                    <div class="col-md my-col my-col left-side-bottom-buttons-row2-butt-2">
                        <a href="#" class="nav-link">
                            <i class="fas fa-plus"></i>
                            <span class="row-2-button-text">Add Extra Item</span>
                        </a>
                    </div>
                    <div class="col-md my-col my-col left-side-bottom-buttons-row2-butt-3">
                        <a href="#" class="nav-link">
                            <i class="fas fa-percentage"></i>
                            <span class="row-2-button-text">Dicsount Order</span>
                        </a>
                    </div>
                    <div class="col-md my-col my-col left-side-bottom-buttons-row2-butt-4">
                        <a href="#" class="nav-link">
                            <i class="fas fa-utensils"></i>
                            <span class="row-2-button-text">Dinning Options</span>
                        </a>
                    </div>
                    <div class="col-md my-col pay-button">
                        <button class="row-2-but">£<span>0.00</span> Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 no-gutters">
        <div class="rightside">
            <div class="rightside-header">
                <div class="row rightside-header-row-1 no-gutters">
                    <div class="col my-col date-and-time">
                        <div id="date"></div>
                        <div id="time"></div>
                    </div>
                </div>
                <div class="row rightside-header-row-2 no-gutters">
                    <div class="col my-col category">CATEGORY</div>
                </div>
            </div>
            <div class="category-buttons">
                <div class="row category-buttons-row no-gutters">
                    {% for c in categories %}
                        {% if c.name == selected_category.name %}
                            <button id="first" data-id={{c.id}} type="button" class="cat-butt" autofocus>{{c.name}}</button>
                        {%else%}
                            <button type="button" data-id={{c.id}} class="cat-butt">{{c.name}}</button>
                        {%endif%}
                        
                    {% endfor %}
                </div>
            </div>
            <div class="empty-space2"></div>
            <div class="product-header">PRODUCTS</div>
            <div class="products-buttons">
                <div class="row products-buttons-row no-gutters">
                    {% for oi in order_items %}
                        <button type="button" data-id={{oi.id}} data-name={{oi.product.name}} data-price={{ oi.retail_price| floatformat:2}} class="product-butt">{{oi.product.name}} <span>£{{ oi.retail_price| floatformat:2}}</span> </button>
                    {%endfor%}
                </div>

            </div>
        </div>
    </div>
</div>


  {% include 'epos/modals.html' %}
<script>
    var GET_CATEGORY        = "{% url 'category' 0%}";
    var CREATE_ORDER        = "{% url 'order' %}";
    var TOTAL_ITEMS         = 0;
    var TAX                 = 0.10
</script>
{% endblock %}