{% extends 'epos/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/update_rota.css' %}">
<link rel="stylesheet" href="{% static 'css/secondary-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/stock.css' %}">
<link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
<div class="h3 text-center p-1 pb-0">Ingredients for products</div>

<div class="current-stock table-responsive text-center mb-5">
    <table class="table inventory-table">
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Quantity</th>
                <th scope="col">Related Inventory Ingredient</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients%}
            <tr id="{{ingredient.pk}}">
                <td scope="row" class="nn-2">{{ingredient.name}}</th>
                <td>{{ingredient.quantity}}</td>
                <td>{{ingredient.inventory_ingredient}}</td>
                <td>
                    <button data-id="{{ingredient.pk}}" class="btn btn-info update_ingredients" data-toggle="modal" data-target="#ingredient-modal">Edit</button>
                    <button data-id="{{ingredient.pk}}"  class="btn btn-danger btn-delete-ing" >Delete</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div class="col secondary-nav p-3">
    <div class="row text-center">
        <div class="col-md-3 col-sm-12">
            <a href="#" id="creat-ingredient" data-toggle="modal" data-target="#ingredient-modal">Create Ingredient</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'inventory ingredients' %}" >View Inventory Ingredients</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'products' %}" >View Products</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'inventory ingredients transactions' %}">Inventory Transactions</a>
        </div>
    </div>
</div>


<script>
    var GET_INVENTORY_INGREEDIENTS = "{% url 'get inventory ingredients' %}"
    var UPDATE_INGREDIENT = "{% url 'upgrade ingredient' 0%}"
    var CREATE_INGREDIENT = "{% url 'create ingredient2' %}"
    var DELETE_INGREDIENT = "{% url 'delete ingredient2' 0%}"
</script>

{% include 'epos/modals.html' %}
<script type="text/javascript" src="{% static 'js/stock_ingredient.js' %}"></script>
{% endblock %}