{% extends 'epos/base.html' %}
{% load static %}
{% block content %}
<div class="calendar text-center">
    <div class="month"> {% csrf_token %}
        <ul>
          <li class="prev"><a href='#'>&#10094;</a></li>
          <li class="next"><a href='#'>&#10095;</a></li>
          <li><span class="month1">August</span><br></li>
          <li><span style="font-size:18px" class="year">2017</span></li>
        </ul>
      </div>
      
      <ul class="weekdays">
        <li></li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
      </ul>
      
      <ul class="days">
        <li class="days-of-the-month">Employee</li>
        <li class="days-of-the-month"></li>
        <li class="days-of-the-month"></li>
        <li class="days-of-the-month"></li>
        <li class="days-of-the-month"></li>
        <li class="days-of-the-month"></li>
        <li class="days-of-the-month"></li>
        <li class="days-of-the-month"><span class="active"></span></li>
      </ul>

    {% for e in employees %}
      <ul class="days employees" id="{{e.id}}">
        <li class="employee-full-short"><strong>{{e.get_full_short}}</strong></li>
        <li>Day Off</li>
        <li>Day Off</li>
        <li>Day Off</li>
        <li>Day Off</li>
        <li>Day Off</li>
        <li>Day Off</li>
        <li>Day Off</li>
      </ul>
    {% endfor %}      
</div>

<script type="text/javascript" src="{% static 'js/rota.js' %}"></script>
<script>
    var GET_SCHEDULE_FOR_ROTA = "{% url 'get schedule for rota' %}"
</script>
{% endblock %}