{% load static %}
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
                <i class="fas fa-th"></i>
                <span class="link-text">EPOS</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'analytics' %}" class="nav-link">
                <i class="fas fa-chart-pie"></i>
                <span class="link-text">Analytics</span>
            </a>
        </li>
        <li class="nav-item no-mobile">
            <a href="{% url 'schedule' %}" class="nav-link">
                <i class="far fa-calendar-alt"></i>
                <span class="link-text">Schedule</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'inventory ingredients' %}" class="nav-link">
                <i class="fas fa-dolly-flatbed"></i>
                <span class="link-text">Inventory</span>
            </a>
        </li>
        {% if user.permission_level == 1 or employee.permission_level == 2 %}
        <li class="nav-item">
            <a href="{% url 'settings' %}" class="nav-link no-mobile">
                <i class="fas fa-user-cog"></i>
                <span class="link-text">Settings</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-chart-line"></i>
                <span class="link-text">Reports</span>
            </a>
        </li>
        {% if user.permission_level == 1 %}
        <li class="nav-item">
            <a href="/admin" class="nav-link">
                <i class="fas fa-lock"></i>
                <span class="link-text">Admin</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <span class="link-text">Log Off</span>
            </a>
        </li>
        <li class="nav-item">  
            <a  class="nav-link">
                <img class="logo" alt="allPOS logo" src="{% static 'img/logo.png' %}">
            </a>
        </li>
    </ul>
</nav>

