{% extends 'epos/base.html' %}
{% load static %}
{% block content %}

<script src="https://unpkg.com/vue@next"></script>

<div class="row no-gutters mb-5" id="app">

    <div class="col-md-5   no-gutters list-of-schedule"> {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <input id="week_input" type="week" name="week" :value='current_week'>
                <button type="button" class="get_weekly_schedule">Get Rota</button>
            </div>
            <div class="col-sm-12 col-md-6">
                <button type="button" class="create_schedule">Create Schedule</button>
            </div>
        </div>
        <div class="schedule_table mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Working Day</th>
                        <th scope="col">Shift Starts</th>
                        <th scope="col">Shift Ends</th>
                        <th class="text-center" scope="col">Update</th>
                        <th class="text-center" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {%for s in schedules%}
                    <tr>
                        <td>{{s.employee.get_full_name}} </td>
                        <td>{{s.work_date |date:'Y-m-d' }} </td>
                        <td>{{s.start_work_hour |time:"H:i"}} </td>
                        <td>{{s.end_work_hour}} </td>
                        <td class="shedule_buttons">
                            <button type='button' class='btn btn-info schedule-button' data-row="{{forloop.counter}}"
                                data-employee="{{s.employee.id}}" id="{{s.id}}">Update</button>
                        </td>
                        <td>
                            <button type='button' class='btn btn-info delete-schedule-button'
                                data-row="{{forloop.counter}}" data-employee="{{s.employee.id}}"
                                data-id="{{s.id}}">Delete</button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-7  no-gutters view-edit-schedule">

    </div>
</div>

<div class="col secondary-nav p-3">
    <div class="row text-center">
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'get rota' %}">View Weekly Rota</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'schedule' %}">Today's Schedule</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'timestamps' %}">Timestamp History</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="{% url 'employee reports' %}">Employee Reports</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/update_rota.js' %}"></script>
<script>
    var GET_WEEKLY_SCHEDULE = "{% url 'get weekly schedule' %}"
    var GET_SCHEDULE = "{% url 'get schedule' 0%}"
    var UPDATE_SCHEDULE = "{% url 'update schedule' 0%}"
    var GET_ALL_EMPLOYEES = "{% url 'get all employee' %}"
    var CREATE_SCHEDULE = "{% url 'create schedule' %}"
    var DELETE_SCHEDULE = "{% url 'delete schedule' 0%}"
</script>
{% endblock %}