{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
  <title>Login</title>
</head>

<body>
  <div class="container">

    <div class="header">
      <img class="logo" src="{% static 'img/logo.png' %}">
    </div>
    

    <div id="screen">
      <div id="time"></div>
      <div id="date"></div>
      <div id="clock">{{clocked }}</div>
    </div>

  <div id='form'>
    <form method="POST" class="box">{%csrf_token%}
      <input type="number" id="pin" name="pin" placeholder="Enter Pin" required inputmode="numeric" autofocus autocomplete="off">
      <button type="submit" >Login</button>
      <button id="clock_in_out" >Clock In/Out</button>
    </form>
    
  </div>

    {% include 'epos/scripts.html' %}
  </div>

  <footer id="footer">
    <p>
      All payments are sent to the payment processor.<br>
      All orders are sent to the server.
    </p>
  </footer>
  <script>
    var CLOCK_API = "{% url 'clock' %}"

  </script>

</body>
</html>