{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=1000">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
  <title>Login</title>
</head>

<body>
  <div class="container">

    <div class="header">
      <img class="logo" src="{% static 'img/logo.png' %}">
    </div>
    

    <div id="screen">
      <div id="time"></div>
      <div id="date"></div>
    </div>

  <div id='form'>
    <form method="POST" class="box">{%csrf_token%}
    

      <input type="number" name="pin" placeholder="Enter Pin" required inputmode="numeric" autofocus autocomplete="off">
      <input type="submit" name="" value="Login">
    </form>
  </div>
    {% include 'epos/scripts.html' %}
  </div>
  <script type="text/javascript" src="{% static 'js/login_date_time.js' %}"></script>


  <footer id="footer">
    <p>
      All payments are sent to the payment processor.<br>
      All orders are sent to the server.
    </p>
  </footer>
</body>
</html>