body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 20%;

}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="number"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cadetblue;
    padding: 14px 10px;
  
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="number"]:focus{
    width: 240px;
    border-color: cadetblue;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(4, 88, 84);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: cadetblue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


div#screen {  
    display: block;
    position: relative;
    text-align: center;  
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    color: white;

}
div#time {
    font-size: 72px;
    margin: 60px auto 0px;
  
  }
  
