/* Pie chart card */
.data-list-chart{
    padding: 5px;
    background: white !important;
    border-radius: 10px; 
}
.borderless td, .borderless th {
    border: none;
    padding: 7px;
}
.quantity-sold{
    float: right;
    font-weight: bold;
}
.pie-text-bellow{
    padding-top: 60px;
    margin-bottom: 20px;
}
.top-ten-text{
    font-size: 30px;
}
.data-sales{
    background: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}
.today-revenue-text, .last-week-revenue-text{
    margin-top: 12%;
    font-size: 20px;
    display: block;
}

.today-revenue-amount{
    font-size: 20px;
    color: rgba(90, 168, 229, 1);
}
.last-week-revenue-amount{
    font-size: 20px;
    color: rgba(194, 97, 202, 1);
}
.operation-buttons{
    background: white;
    margin-top: 30px;
    border-radius: 10px;
}
.list-group-item:hover{
    cursor: pointer !important;
}
.list-group-item span{
    margin-left: 10px;
    font-weight: bold;
}
.fa-info-circle{
    float: right;
    color: #00A1E0;
}
.end-of-day{
    float: right;
    color: #00A1E0;
}

/* Here */
.rightside-analytics .row{
    margin-bottom: 30px;
}
.first-row button, .second-row button, .third-row button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid #00A1E0;
    border-radius: 10px;
    color: #00A1E0;
    font-size: 20px;
    outline:none;
}
.first-row button i, .second-row button i, .third-row button i {
    display: block;
    padding-top: 4%;
}

.rightside-analytics button:hover{
    cursor: pointer;
}
.analytics-order-list-modal-body{
    height: 200px;
    overflow-y: auto;
}
.orders-list-modal{
    width: 600px !important;
}
.table-row-orders:hover{
    border-top: 1px solid #00A1E0;
    border-bottom: 1px solid #00A1E0;
    cursor: pointer;
}
.orders-list-analytics > thead > tr > td {
    border-bottom: 1px solid red !important;
}
table.orders-list-analytics > tbody > tr:hover {
    cursor: pointer;
}
.table-row-list:hover{
    background:#D4E0E7;
}
.analytics-order-list-modal-body{
    font-size: 10px;
}
.rightside-analytics{
    margin-top: 30px;
}
.second-row{
    width: 44%;
}
.first-row button, .second-row button, .third-row button{
    font-size: 14px;
}
@media screen and (max-width: 371px){
    .third-row-button3{
        margin-top: 30px;
    }
}
/* Computer screen/ screen more than 768 width  and less than 1044px*/
@media screen and (min-width: 768px) {
    .leftside-analytics, .rightside-analytics {
        color: #133B66 ;
        height: 96vh;
        width: 100% ;
    }
    .borderless{
        font-size: 10px;
    }
    .revenue-text{
        font-size: 20px;
    }
    .today-revenue-amount, .last-week-revenue-amount, .today-revenue-text, .last-week-revenue-text{
        font-size: 14px;
    }
    .analytics-order-list-modal-body{
        height: 300px;
        font-size: 12px;
    }
}
/* Computer screen more than 992px width and less than 1500px*/
@media screen and (min-width: 992px){
    .third-row-button3{
        margin-top: 30px;
    }
    .analytics-order-list-modal-body{
        height: 300px;
        font-size: 16px;
    }
    .first-row button, .second-row button, .third-row button {
        height: 200px;
        font-size: 25px;
    }
}
@media screen and (min-width: 1088px){
    .third-row-button3{
        margin-top: 0px !important;
    }
}
/* Computer screen more than 1500px*/
@media screen and (min-width: 1500px) {
    .leftside-analytics, .rightside-analytics {
        color: #133B66 ;
        height: 96vh;
        width: 100% ;
    }
    .borderless{
        font-size: 16px;
    }
    .data-sales{
        padding: 10px;
    }
    .revenue-text{
        font-size: 30px;
    }
    .today-revenue-amount, .last-week-revenue-amount, .today-revenue-text, .last-week-revenue-text{
        font-size: 20px;
    }

    .analytics-order-list-modal-body{
        height: 400px;
        overflow-y: auto;
    }
    .third-row-button3{
        margin-top: 0;
    }
}