.column-1, .column-2, .column-3{
    border: 1px solid red;
    height: 100%;
}
.current-tax{
    font-weight: bold;
    display: block;
}
.change-tax-btn{
    border: 2px solid #00A1E0;
    background: #00A1E0;
    border-radius: 10px;
    color: white;
    width: 40%;
    text-align: center;
    outline:none !important;
    text-decoration: none !important;
    padding: 10px;
    margin-top: 10px;
}
.change-tax-btn:hover{
    color: #00A1E0;
    background: white;
    border: 2px solid #00A1E0;
    width: 40%;
    padding: 10px;
}

.tax-setting{
    padding: 10px;
    background: white;
    border: 1px solid green;
    border-radius: 10px;
}
