@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
body{
  background-color: #E4F7FD;
}

.column-1, .column-2, .column-3{
    /* border: 1px solid red; */
    height: 100%;
}
.current-tax{
    font-weight: bold;

}
.tax-setting, .add-employee, .add_supplier,.view-all-emaployees,.view-all-suppliers,.automatic-ordering {
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #133B63;
}

.form_header_employee{
    padding: 10px !important;
    color: #133B63 !important;
}
.column-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

form label, .modal-body-employee, .modal-body-supplier {
  color:#133B63;
}
.automatic-ordering-settings{
  width: 30%;
}
.automatic-ordering-button-holder{
  text-align: center;
}
.list-group-item, .list-group{
  border: none !important;
}

@media screen and (min-width: 575px) {
    .column-2{
        margin-top: 0;
        margin-bottom: 0;
    }
}